
CreateProject/.idea/workspace.xml

CreateProject/.idea/workspace.xml

CreateProject/.idea/CreateProject.iml

CreateProject/Example/Example.xcodeproj/xcuserdata/virgil.xcuserdatad/xcschemes/Example.xcscheme

CreateProject/Example/Example.xcodeproj/project.xcworkspace/xcuserdata/virgil.xcuserdatad/UserInterfaceState.xcuserstate

CreateProject/Example/Example.xcodeproj/project.xcworkspace/xcshareddata/Example.xccheckout

CreateProject/Example/Example.xcodeproj/project.xcworkspace/contents.xcworkspacedata

CreateProject/.idea/workspace.xml

CreateProject/.idea/CreateProject.iml
